@charset "utf-8";
@import "reset";
@import "css3";
@import "mixin";
@import "setting";

$grayBorder: #f5f5f5;
$mainColor: #38465e;
$lightMainColor: #50627d;
$mainGray: #ccc;
$mainFontColor: #333;

@function rgbaMainColor($a) {
  @return rgba(39,50,96,$a);
}

body.maga {
  background: #190704;
}

a {
  color: #fff;
}

hr {
  border-top: $grayBorder solid 1px;
  border-bottom: 0;
}

em {
  font-size: 1.6rem;
  color: $mainColor;
}

.box {
  @include display-flex;
  @include flex-flow;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.cf {
  @include clearfix(false);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pl {
  position: absolute;
  left: 0;
}

.pr {
  position: absolute;
  right: 0;
}

header,
footer {
  z-index: 101;
  position: fixed;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  background: rgba(0,0,0,.7);
  overflow: hidden;
  @include transition(height .2s linear);
}

.h-f-close {
  height: 0;
}

header {
  top: 0;
  text-align: center;
  color: #fff;
  h2 {
    line-height: 45px;
    font-size: 1.8rem;
  }
  a {
    color: #fff;
  }
  .pl {
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    line-height: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  .pr {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    line-height: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
  }
}

footer {
  bottom: 0;
  font-size: 1.4rem;
  color: #fff;
  nav {
    @include table-equal(a);
    a {
      text-align: center;
    }
  }
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  z-index: -1;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

.qzy-catalog {
  z-index: 102;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  overflow: auto;
  &:target {
    display: block;
  }
}

.qzy-catalog-nav {
  padding: 10px;
  a {
    display: block;
    line-height: 3em;
    font-size: 1.2rem;
    border-bottom: 1px solid $grayBorder;
  }
}

.qzy-tree-sub {
  margin-left: 20px;
}

.qzy-content {
  height: 100%;
  .qzy-page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      position: relative;
      top: 50%;
      max-width: 100%;
      max-height: 100%;
      @include translateY(-50%);
    }
  }
}

.page-out {
  z-index: 99;
  @include transition(all .5s ease-out);
  @include translateX(-100%);
}

.page-in {
  z-index: 99;
  @include transition(all .5s ease-out);
  @include translateX(0);
}

.page-off {
  @include translateX(-100%);
}

.page-on {
  z-index: 100;
}