/* main */
.qzy-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/* header */
.qzy-header {
  position: relative;
  min-height: 30px;
  height: -moz-calc(50% - 320px);
  height: -webkit-calc(50% - 320px);
  height: calc(50% - 320px);
  vertical-align: bottom; }
  .qzy-header .qzy-nav {
    margin: 0 auto 0 auto;
    width: 1000px; }

/* footer */
.qzy-footer {
  position: relative;
  height: -webkit-calc(50% - 320px);
  height: -moz-calc(50% - 320px);
  height: calc(50% - 320px); }
  .qzy-footer .qzy-info {
    margin: 0 auto 0 auto;
    width: 1000px; }

.qzy-main {
  padding: 20px 0;
  background: url("../images/qc.jpg") center no-repeat; }

/* magazine */
.qzy-scroll {
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  background: url("../images/scroll-header.png");
  -webkit-animation: open-magazine 1.5s linear;
  -moz-animation: open-magazine 1.5s linear;
  -ms-animation: open-magazine 1.5s linear;
  -o-animation: open-magazine 1.5s linear;
  animation: open-magazine 1.5s linear; }
  .qzy-scroll:before, .qzy-scroll:after {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 0;
    width: 37px;
    height: inherit;
    background: url("../images/scroll-2.png") no-repeat;
    background-size: auto 100%;
    content: " "; }
  .qzy-scroll:before {
    left: 0;
    background-position: left; }
  .qzy-scroll:after {
    right: 0;
    background-position: right; }

.qzy-magazine {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  -webkit-animation: magazine-in 2s linear;
  -moz-animation: magazine-in 2s linear;
  -ms-animation: magazine-in 2s linear;
  -o-animation: magazine-in 2s linear;
  animation: magazine-in 2s linear; }
  .qzy-magazine:before {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 200px;
    height: 640px;
    background: url("../images/bamboo.png") no-repeat;
    content: " "; }

.qzy-catalog {
  float: left;
  padding: 5px 10px;
  border: 1px solid #d2b5a6;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  font-family: "Microsoft Yahei";
  font-size: 14px; }
  .qzy-catalog .qzy-catalog-nav {
    position: relative;
    width: 160px;
    height: 588px; }
  .qzy-catalog a {
    display: block;
    line-height: 20px;
    cursor: pointer;
    transition: color .2s linear; }
    .qzy-catalog a:hover {
      color: #818bb3; }
  .qzy-catalog #catList {
    position: absolute; }
  .qzy-catalog .qzy-catalog-vernier {
    position: absolute;
    top: -8px;
    left: 0;
    background: url("../images/lotus.png") right no-repeat;
    width: 100%;
    height: 40px;
    transition: top .3s linear; }
  .qzy-catalog .qzy-tree-sub {
    margin-left: 20px;
    font-size: 12px; }
    .qzy-catalog .qzy-tree-sub a {
      color: #3a2909;
      text-shadow: 2px 2px 5px #ff9b49; }

.qzy-content {
  position: relative;
  float: left;
  margin-left: 18px;
  width: 800px;
  height: 600px; }
  .qzy-content > div {
    position: absolute;
    width: inherit;
    height: inherit; }
  .qzy-content .qzy-page {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6) url("../images/loading.png") center no-repeat; }
    .qzy-content .qzy-page > * {
      border-radius: 10px; }
  .qzy-content .page-on {
    z-index: 97;
    left: 0; }
  .qzy-content .page-off {
    z-index: -1; }
  .qzy-content .page-out {
    z-index: 99;
    -webkit-animation: page-out 0.5s linear;
    -moz-animation: page-out 0.5s linear;
    -ms-animation: page-out 0.5s linear;
    -o-animation: page-out 0.5s linear;
    animation: page-out 0.5s linear; }
  .qzy-content .page-in {
    z-index: 99;
    -webkit-animation: page-in 0.5s linear;
    -moz-animation: page-in 0.5s linear;
    -ms-animation: page-in 0.5s linear;
    -o-animation: page-in 0.5s linear;
    animation: page-in 0.5s linear; }
  .qzy-content .page-out-right {
    z-index: 99;
    -webkit-animation: page-out-right 0.5s linear;
    -moz-animation: page-out-right 0.5s linear;
    -ms-animation: page-out-right 0.5s linear;
    -o-animation: page-out-right 0.5s linear;
    animation: page-out-right 0.5s linear; }
  .qzy-content .page-in-right {
    z-index: 99;
    -webkit-animation: page-in-right 0.5s linear;
    -moz-animation: page-in-right 0.5s linear;
    -ms-animation: page-in-right 0.5s linear;
    -o-animation: page-in-right 0.5s linear;
    animation: page-in-right 0.5s linear; }

.qzy-page-bar {
  z-index: 999;
  position: absolute;
  bottom: 100px;
  right: -35px;
  width: 30px; }
  .qzy-page-bar > a {
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    width: 20px;
    font-size: 0.75em;
    text-align: center;
    color: #333;
    border: 1px solid #d2b5a6;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4); }

@-webkit-keyframes open-magazine {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-moz-keyframes open-magazine {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-ms-keyframes open-magazine {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-o-keyframes open-magazine {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@keyframes open-magazine {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-webkit-keyframes magazine-in {
  0% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes magazine-in {
  0% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes magazine-in {
  0% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes magazine-in {
  0% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes magazine-in {
  0% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes page-out {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    left: -800px;
    opacity: 0; } }
@-moz-keyframes page-out {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    left: -800px;
    opacity: 0; } }
@-ms-keyframes page-out {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    left: -800px;
    opacity: 0; } }
@-o-keyframes page-out {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    left: -800px;
    opacity: 0; } }
@keyframes page-out {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    left: -800px;
    opacity: 0; } }
@-webkit-keyframes page-in {
  0% {
    top: -60px;
    left: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  100% {
    top: 0;
    left: 0;
    opacity: 1; } }
@-moz-keyframes page-in {
  0% {
    top: -60px;
    left: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  100% {
    top: 0;
    left: 0;
    opacity: 1; } }
@-ms-keyframes page-in {
  0% {
    top: -60px;
    left: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  100% {
    top: 0;
    left: 0;
    opacity: 1; } }
@-o-keyframes page-in {
  0% {
    top: -60px;
    left: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  100% {
    top: 0;
    left: 0;
    opacity: 1; } }
@keyframes page-in {
  0% {
    top: -60px;
    left: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    left: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    left: -100px;
    opacity: .8; }

  100% {
    top: 0;
    left: 0;
    opacity: 1; } }
@-webkit-keyframes page-out-right {
  0% {
    top: 0;
    right: 0; }

  25% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    right: -800px;
    opacity: 0; } }
@-moz-keyframes page-out-right {
  0% {
    top: 0;
    right: 0; }

  25% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    right: -800px;
    opacity: 0; } }
@-ms-keyframes page-out-right {
  0% {
    top: 0;
    right: 0; }

  25% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    right: -800px;
    opacity: 0; } }
@-o-keyframes page-out-right {
  0% {
    top: 0;
    right: 0; }

  25% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    right: -800px;
    opacity: 0; } }
@keyframes page-out-right {
  0% {
    top: 0;
    right: 0; }

  25% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  100% {
    top: -60px;
    right: -800px;
    opacity: 0; } }
@-webkit-keyframes page-in-right {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  100% {
    top: 0;
    right: 0;
    opacity: 1; } }
@-moz-keyframes page-in-right {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  100% {
    top: 0;
    right: 0;
    opacity: 1; } }
@-ms-keyframes page-in-right {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  100% {
    top: 0;
    right: 0;
    opacity: 1; } }
@-o-keyframes page-in-right {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  100% {
    top: 0;
    right: 0;
    opacity: 1; } }
@keyframes page-in-right {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0; }

  50% {
    top: -50px;
    right: -400px;
    opacity: .5; }

  75% {
    top: -20px;
    right: -100px;
    opacity: .8; }

  100% {
    top: 0;
    right: 0;
    opacity: 1; } }
