@charset "utf-8";
@import "mixin";

/* main */
.qzy-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.qzy-main {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
}

.qzy-info {
  margin: 0 auto 0 auto;
  width: 1000px;
  text-align: right;
  font-size: 0.75em;
  color: #4c4b48;
  text-shadow: 1px 1px 2px #999;
}

/* magazine */
.qzy-scroll {
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  background: url("../images/scroll-header.png");
  @include animation(open-magazine 1.5s linear);
  &:before,
  &:after {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 0;
    width: 37px;
    height: inherit;
    background: url("../images/scroll-2.png") no-repeat;
    background-size: auto 100%;
    content: " ";
  }
  &:before {
    left: 0;
    background-position: left;
  }
  &:after {
    right: 0;
    background-position: right;
  }
}

.qzy-magazine {
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  @include animation(magazine-in 2s linear);
}

.qzy-maga-nav {
  display: inline-block;
  padding: 0 20px;
}

.qzy-catalog {
  display: inline-block;
  height: 100%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #d2b5a6;
  background: rgba(255,255,255,.4) url("../images/lotus2.gif") left bottom no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Microsoft Yahei";
  font-size: 16px;
  .qzy-catalog-nav {
    position: relative;
    margin: 5px 10px;
    width: 160px;
  }
  a {
    display: block;
    line-height: 26px;
    cursor: pointer;
    transition: color .2s linear;
    &:hover {
      color: #818bb3;
    }
  }
  #catList {
    position: relative;
  }
  .qzy-catalog-vernier {
    position: absolute;
    top: -8px;
    left: 0;
    background: url("../images/lotus1.gif") right no-repeat;
    width: 100%;
    height: 40px;
    transition: top .5s linear;
  }
  .qzy-tree-sub {
    margin-left: 20px;
    font-size: 14px;
    a {
      color: #3a2909;
      text-shadow: 2px 2px 5px #ff9b49;
    }
  }
}

.qzy-content {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  height: 100%;
  vertical-align: top;
  @include perspective(2000px);
  .qzy-holder {
    height: 100%;
  }
  .qzy-page {
    position: absolute;
    height: 100%;
    background: rgba(255,255,255,.6) url("../images/loading.png") center no-repeat;
    @include transform-origin(0 50%);
    img {
      width: auto;
      height: 100%;
    }
  }
  .qzy-article {
    position: absolute;
    padding: 20px;
    width: 760px;
    height: 560px;
    text-shadow: 0 0 5px #fff;
    background: rgba(255,255,255,.8);
    overflow: auto;
    h2 {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    p + p {
      margin-top: 5px;
    }
  }
  .qzy-video {
    position: absolute;
    padding: 5px 15px;
    color: #fff;
    background: #c00;
  }
  .page-on {
    z-index: 97;
    left: 0;
  }
  .page-off {
    z-index: -1;
  }
  .page-out {
    z-index: 99;
    @include animation(page-out 0.7s linear);
  }
  .page-in {
    z-index: 99;
    @include animation(page-in 0.7s linear);
  }
  .page-out-right {
    z-index: 99;
    @include animation(page-out-right 0.5s linear);
  }
  .page-in-right {
    z-index: 99;
    @include animation(page-in-right 0.5s linear);
  }
}

.qzy-page-bar {
  z-index: 999;
  position: absolute;
  bottom: 100px;
  right: -35px;
  width: 30px;
  >a {
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    width: 20px;
    font-size: 0.75em;
    text-align: center;
    color: #333;
    border: 1px solid #d2b5a6;
    background: rgba(255,255,255,.4);
  }
}

@include keyframes(open-magazine) {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@include keyframes(magazine-in) {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(page-out) {
  0% {
    @include rotateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    @include rotateY(-180deg);
    opacity: 0;
  }
}

@include keyframes(page-in) {
  0% {
    @include rotateY(-180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    @include rotateY(0);
    opacity: 1;
  }
}

@include keyframes(page-out-right) {
  0% {
    top: 0;
    right: 0;
  }
  25% {
    top: -20px;
    right: -100px;
    opacity: .8;
  }
  50% {
    top: -50px;
    right: -400px;
    opacity: .5;
  }
  100% {
    top: -60px;
    right: -800px;
    opacity: 0;
  }
}

@include keyframes(page-in-right) {
  0% {
    top: -60px;
    right: -800px;
    opacity: 0;
  }
  50% {
    top: -50px;
    right: -400px;
    opacity: .5;
  }
  75% {
    top: -20px;
    right: -100px;
    opacity: .8;
  }
  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}