@charset "utf-8";
@import "mixin";

html {
  background: #fff;
}

body {

}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  @include border-box;
  vertical-align: middle;
}

em,
th {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input + input {
  margin-left: 5px;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 1px solid #c6d2f5;
  @include content-box;
  height: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* float */
.qzy-left {
  float: left !important
}

.qzy-right {
  float: right !important
}

/* clearfix */
%cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.cf {
  @extend %cf;
}

/* font */
@for $i from 6 through 11 {
  .qzy-text-#{2 * $i} {
    font-size: 2px * $i;
  }
}

.qzy-text-bold {
  font-weight: bold;
}

.qzy-cursor-pointer {
  cursor: pointer;
}

.qzy-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* box */
.qzy-center {
  margin: 0 auto;
}

@for $i from 1 through 6 {
  .qzy-margin-top-#{5 * $i} {
    margin-top: 5px * $i;
  }
}

@for $i from 1 through 6 {
  .qzy-margin-left-#{5 * $i} {
    margin-left: 5px * $i;
  }
}

@for $i from 1 through 6 {
  .qzy-margin-bottom-#{5 * $i} {
    margin-bottom: 5px * $i;
  }
}

@for $i from 1 through 6 {
  .qzy-margin-right-#{5 * $i} {
    margin-right: 5px * $i;
  }
}

@for $i from 1 through 10 {
  @for $j from 1 through $i - 1 {
    .qzy-width-#{$j}-#{$i} {
      width: $j / $i * 100% !important;
    }
  }
}

.qzy-width-full {
  width: 100%;
}

.qzy-clear-margin {
  margin: 0 !important;
}

/* align */
.qzy-align-left {
  text-align: left;
}

.qzy-align-center {
  text-align: center;
}

.qzy-align-right {
  text-align: right;
}